@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,900&display=swap');

/* Reset Settings */
:root {
  --dark: #272a31;
  --secondary: #ec5242;
  --light: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  overflow: hidden;
}

.upper-nav {
  position: absolute;
  top: 0;
  left: -100%;
}

nav {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  left: -100%;
  transition: 0.3s;
  z-index: 5;
}

nav .camp a,
nav .links li a,
.links i {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.camp a:visited,
.camp a:active {
  color: var(--secondary);
}

nav .links ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.links i {
  position: absolute;
  top: 20px;
  left: 20px;
}

#hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
}

#hamburger:hover {
  cursor: pointer;
}

.welcome {
  text-align: center;
  margin-top: 60px;
  padding: 10px;
}

.m-logo {
  width: 50%;
}

.logo-center {
  text-align: center;
}

.describe {
  position: static;
  background-image: url(./images/mobile-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light);
  padding: 30px;
}

.describe h1 {
  font-size: 40px;
  color: var(--secondary);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  -webkit-background-clip: text;
  background-image: url(./images/header\ background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.describe .hero-text {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
  word-spacing: 30%;
  border: 2px solid #fff;
  padding: 15px;
  background-color: rgb(241, 241, 241);
  color: #5c5b5b;
}

.span-align h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #5c5b5b;
}

.describe .welcome {
  color: var(--secondary);
  font-weight: bold;
  font-size: 24px;
}

.main-row {
  position: static;
  background-color: var(--dark);
  padding: 10px;
  background-image: url(./images/cross.svg);
}

.main-header {
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.main-header::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: var(--secondary);
}

.main-footer {
  display: none;
}

.main-program {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-details {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  column-gap: 10px;
  padding: 20px;
  background-color: rgb(55, 59, 68, 0.5);
  place-items: center;
}

.main-details h3 {
  color: var(--secondary);
  font-size: 14px;
}

.main-details p {
  color: #fff;
  font-size: 14px;
}

.center-content {
  padding: 10px;
}

.join-btn {
  padding: 20px;
  width: 80%;
  color: #fff;
  background-color: var(--secondary);
  border: none;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.features {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  margin: 30px;
  position: relative;
  color: rgb(92, 91, 91);
}

.features::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: var(--secondary);
}

.experts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experts-details {
  display: flex;
  gap: 20px;
}

.experts-details img {
  width: 160px;
  height: 160px;
}

.experts-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experts-name {
  font-weight: bold;
  color: rgb(92, 91, 91);
  font-size: 16px;
}

.experts-place {
  color: var(--secondary);
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
}

.experts-achieve {
  color: #5c5b5b;
  font-size: 14px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.media-partners {
  background-color: var(--dark);
  height: auto;
  padding: 40px;
}

.media-partners h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.media-partners h2::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: var(--secondary);
}

.footer {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.partners img,
.footer img {
  filter: grayscale(100%);
}

/* About Styling */
.about-banner {
  position: static;
  background-image: url(./images/mobile-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.about-banner h1 {
  font-size: 40px;
  color: var(--secondary);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

.about-logo {
  border: 1px solid var(--light);
  padding: 20px;
  margin: 20px auto;
}

.about-logo img {
  filter: grayscale(100%);
}

.home-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.about-white {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
  word-spacing: 30%;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  color: #5c5b5b;
  border: 1px solid var(--light);
}

.about-nowhite {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
  word-spacing: 30%;
  padding: 15px;
  text-align: center;
  color: #5c5b5b;
}

.about-nowhite span {
  font-weight: bold;
  text-decoration: underline;
}

.full-width {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
  word-spacing: 30%;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  color: #5c5b5b;
  width: 100%;
}

.full-width-center {
  width: 80%;
  margin: 0 auto;
}

.full-width-center h3 {
  position: relative;
  margin-bottom: 20px;
}

.full-width-center h3::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: var(--secondary);
}

.last-time {
  text-align: center;
}

.last-time h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
  word-spacing: 30%;
  text-align: center;
  background-color: #fff;
  color: #5c5b5b;
  position: relative;
}

.last-time h3::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: var(--secondary);
}

.last-time p {
  background-color: #fff;
  color: #5c5b5b;
  margin: auto 20px;
}

.see-past {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.acenter .welcome {
  color: var(--secondary);
  font-weight: bold;
  font-size: 24px;
}

.see-past img {
  width: 75%;
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  nav,
  #hamburger {
    display: none;
  }

  .upper-nav,
  nav {
    background-color: var(--dark);
    position: static;
  }

  .upper-nav ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    gap: 2px;
  }

  .upper-nav ul li {
    color: #fff;
    list-style-type: none;
    padding: 8px;
  }

  .upper-nav ul li:hover {
    cursor: pointer;
  }

  .socia-nav {
    padding-right: 12%;
  }

  .d-links {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .camp a {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary);
    cursor: pointer;
    text-decoration: none;
  }

  .d-links ul a {
    color: var(--dark);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    font-weight: 700;
  }

  .d-links ul li a:hover {
    color: var(--secondary);
    cursor: pointer;
  }

  .camp {
    color: var(--secondary);
    border: 4px solid var(--secondary);
    padding: 5px 15px;
  }

  .d-logo {
    width: 60px;
  }

  .describe {
    position: static;
    background-image: url(./images/desktop-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 100px 50px;
  }

  .describe h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url(./images/header\ background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    text-align: left;
    padding-left: 10%;
  }

  .describe p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.6;
    word-spacing: 30%;
    margin-left: 10%;
    width: 60%;
  }

  .span-align {
    margin-left: 10%;
  }

  .main-row {
    background-color: var(--dark);
    padding: 50px 60px;
    background-image: url(./images/cross.svg);
  }

  .main-footer {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
  }

  .join-btn {
    display: none;
  }

  .main-program {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .main-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: center;
    width: 300px;
  }

  .main-details:hover {
    border: 1px solid white;
    cursor: pointer;
  }

  .main-details p {
    text-align: center;
    font-size: 16px;
  }

  .experts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 10px;
  }

  .experts-name,
  .main-details h3 {
    font-size: 20px;
  }

  .experts-place,
  .experts-achieve,
  .main-footer {
    font-size: 16px;
  }

  .acenter {
    width: 60%;
    margin-left: 25%;
  }

  .home-icon {
    position: absolute;
    top: 110px;
    right: 40px;
  }

  .full-width-center {
    width: 40%;
    margin: 0 auto;
  }

  .see-past {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .see-past img {
    width: 35%;
  }

  .welcome {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .experts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 70px;
  }
}
